<footer style="margin: 0 auto; width: 100%; text-align: center; padding: 1em 0 .5em 0;">
  <img src="/static/img/Art101_bw.svg" width=200 style="padding-bottom: 6px;">
  <p>
    Made by <a href="https://lzahq.tech" target="_blank">@lza_menace</a> of <a href="https://twitter.com/art101nft" target="_blank">@Art101NFT</a>.<br/>
    <a href="https://github.com/art101nft/gallery.art101.io" target="_blank">Source Code.</a><br/>
    <!-- <a href="https://etherscan.io/address/0x8a683ddebd6311786d4f2827249f094f9d7a8f3b" target="_blank">Marketplace Contract.</a> -->
  </p>
</footer>


{% include 'includes/scripts.html' %}
