<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" href="{{ url_for('collection.index') }}" up-transition="cross-fade" up-follow>Home</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="{{ url_for('meta.about') }}" up-transition="cross-fade" up-follow>About</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" target="_blank" href="https://sales.art101.io">Sales</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" target="_blank" href="https://art101.io">Main Site</a>
      </li>
    </ul>
  </div>
</nav>