<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" href="{{ url_for('collection.index') }}" up-transition="cross-fade" up-follow>Home</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="{{ url_for('meta.about') }}">About</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" target="_blank" href="{{ config.SCRAPER_API_URL }}">Sales</a>
      </li>
    </ul>
  </div>
</nav>