<script src="/static/js/vendor/noty-3.2.0.js"></script>
<script src="/static/js/vendor/unpoly-2.5.0.min.js"></script>
<script src="/static/js/main.js"></script>

{% include 'includes/web3.html' %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% if category == None %}{% set category = 'info' %}{% endif %}
      {% for category, message in messages %}
        <div class="notyBox" up-data='{"message": "{{ message }}", "category": "{{ category }}"}'></div>
      {% endfor %}
  {% endif %}
{% endwith %}

<script>
  // Put this helper function in here so we can inject global config for ASSETS_URL
  function loadImg(_u, contract_address) {
    if (_u.startsWith('ipfs://')) {
      let stripped = _u.replace('ipfs://', `{{ config.ASSETS_URL }}/${contract_address}/`);
      return stripped
    } else {
      return _u
    }
  }
</script>
