<script src="/static/js/vendor/web3-1.3.6.min.js"></script>
<script src="/static/js/vendor/metamask-onboarding-1.0.1.bundle.js"></script>
<script src="/static/js/vendor/noty-3.2.0.js"></script>
<script src="/static/js/vendor/unpoly-2.5.0.min.js"></script>
<script src="/static/js/main.js"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% if category == None %}{% set category = 'info' %}{% endif %}
      {% for category, message in messages %}
        <div class="notyBox" up-data='{"message": "{{ message }}", "category": "{{ category }}"}'></div>
      {% endfor %}
  {% endif %}
{% endwith %}

<script>
  // Put this var here to inject global config for ERC721 ABI
  erc721Abi = {{ config.ERC721_ABI | tojson }}

  // Put this helper function in here so we can inject global config for ASSETS_URL
  function loadImg(_u, contract_address, use_external) {
    if (_u.startsWith('ipfs://')) {
      if (use_external) {
        let stripped = _u.replace('ipfs://', `https://gateway.pinata.cloud/ipfs/`);
        return stripped
      } else {
        let stripped = _u.replace('ipfs://', `{{ config.ASSETS_URL }}/${contract_address}/`);
        return stripped
      }
    } else {
      return _u
    }
  }
</script>
