{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h4>About</h4>
  <p>
    This is the official gallery site for the art-centric NFT projects of <a href="https://art101.io/" target="_blank">Art101</a>. 
    We wanted to provide a simple website to view all of our artwork, rarity, and metadata in one place, 
    as well as some at-a-glance statistics of our collections.
  </p>
  <p>
    Art101 was founded in the summer of 2021 with <a href="https://portfolio.cartysewill.com" target="_blank">@Cartyisme</a>'s vision to build an NFT crowdfunding platform. 
    He teamed up with <a href="https://jwinterm.com" target="_blank">@jwinterm</a> and <a href="https://lzahq.tech" target="_blank">@lza_menace</a> 
    whom all met from <code>#wownero</code> on IRC. 
    While we started development of this product/platform, which we were calling <a href="https://patrn.me" target="_blank">Patrn</a>, 
    we decided to dip our toes into the NFT drop scene to try and build a name for ourselves. 
    We decided to release high-quality and free NFT drops, with a focus on art history and theory. 
    We wanted to stand in stark contrast to the rugs and get-rich-quick projects and provide better art, 
    better sites, and better experiences, for free.
  </p>
  <p>
    Almost one year later we've got a small but strong community of followers, supporters, and frens devoted to art, 
    crypto, NFTs, networking, learning, and building. 
    We've got many budding new prospects between collaborations, products, platforms, services, and utilities. 
    The Art101 team will continue to quietly build, expand, drop, and deliver, sticking to our original mission statement; 
    make high-quality artwork and drops to keep iterating the NFT ecosystem.
  </p>
</div>
{% endblock %}