<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <div class="container">
    <section class="section">
      <div id="saleDetails">
        <h1 class="title">{{ collection.title }}</h1>
        <h2 class="subtitle">Bids</h2>
      </div>
      <div id="activeBidsOffers" up-data='{ "type": "bids", "contractAddress": "{{ collection.contract_address }}", "urlSlug": "{{ collection.url_slug }}" }'></div>
    </section>
  </div>
  {% include 'includes/footer.html' %}
  </body>
</html>
