<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title">{{ collection.title }}</h1>
      <p class="subtitle pt-2 collectionDescription">{{ collection.data.description }}</p>
      <p class="subtitle pt-2 collectionDescription"><a href="{{ collection.data.website }}" target=_blank>{{ collection.data.website }}</a></p>
      <nav class="level">
        <div class="level-item">
          <div>
            <p class="heading">Token Supply</p>
            <p class="title">{{ collection.data.total_supply }}</p>
            <!-- <p>? tokens scanned</p> -->
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Contract Address</p>
            <p class="title"><a href="{{ collection.contract_address | show_etherscan }}" target=_blank>{{ collection.contract_address | shorten_address }}</a></p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Contract Type</p>
            <p class="title">{{ collection.data.contract_type }}</p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">Launch Date</p>
            <p class="title">{{ collection.es_data.timeStamp | from_ts | humanize }}</p>
          </div>
        </div>
      </nav>
      {% if collection.data.notable_tokens %}
      <div class="tokenPreviews has-text-centered">
        {% for _token in collection.data.notable_tokens | batch(4) %}
        <div class="columns">
          {% for token in _token %}
          <div class="cardz column">
            <div class="card-image">
              <figure class="image">
                <a href="{{ url_for('collection.show_token', collection_slug=collection.url_slug, token_id=token) }}" up-target=".container" up-preload>
                  <img src="/static/img/loading2.gif" width=40 class="tokenPreview previewPreload" id="tokenPreview-{{ token }}" up-data='{ "contractAddress": "{{ collection.contract_address }}", "tokenId": "{{ token }}" }'>
                </a>
              </figure>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="tokenPreviews has-text-centered">
        {% if collection.data.total_supply < 8 %}
          {% set tokens = collection.data.total_supply | get_random(collection.data.start_token_id, 3) | batch(3) %}
        {% else %}
          {% set tokens = collection.data.total_supply | get_random(collection.data.start_token_id, 4) | batch(4) %}
        {% endif %}
        {% for _token in tokens %}
        <div class="columns">
          {% for token in _token %}
          <div class="cardz column">
            <div class="card-image">
              <figure class="image">
                <a href="{{ url_for('collection.show_token', collection_slug=collection.url_slug, token_id=token) }}" up-target=".container" up-preload>
                  <img src="/static/img/loading2.gif" width=40 class="tokenPreview previewPreload" id="tokenPreview-{{ token }}" up-data='{ "contractAddress": "{{ collection.contract_address }}", "tokenId": "{{ token }}" }'>
                </a>
              </figure>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="tokenPreviews has-text-centered pt-4 mt-4">
        <div class="columns">
          <div class="card column">
            <div class="card-image">
              <figure class="image">
                <a href="https://looksrare.org/collections/{{ collection.contract_address }}" target="_blank"><img src="/static/img/looksrare.png"> LooksRare</a>
              </figure>
            </div>
          </div>
          <div class="card column">
            <div class="card-image">
              <figure class="image">
                <a href="https://www.gem.xyz/collection/{{ collection.url_slug }}" target="_blank"><img src="/static/img/gem.png"> Gem</a>
              </figure>
            </div>
          </div>
          <div class="card column">
            <div class="card-image">
              <figure class="image">
                <a href="https://www.genie.xyz/collection/{{ collection.contract_address }}" target="_blank"><img src="/static/img/genie.png"> Genie</a>
              </figure>
            </div>
          </div>
          <div class="card column">
            <div class="card-image">
              <figure class="image">
                <a href="https://opensea.io/collection/{{ collection.url_slug }}" target="_blank"><img src="/static/img/opensea.png"> Opensea</a>
              </figure>
            </div>
          </div>
          <div class="card column">
            <div class="card-image">
              <figure class="image">
                <a href="https://rarible.com/{{ collection.url_slug }}" target="_blank"><img src="/static/img/rarible.jpg"> Rarible</a>
              </figure>
            </div>
          </div>
          <div class="card column">
            <div class="card-image">
              <figure class="image">
                <a href="https://x2y2.io/collection/{{ collection.url_slug }}/items" target="_blank"><img src="/static/img/x2y2.png"> X2Y2</a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
