{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 style="margin-bottom:0;">{{ collection.title }}</h1>
  <p style="margin:0 0 1em 0;"><a href="{{ collection.data.website }}" target=_blank>{{ collection.data.website }}</a></p>
  <p>{{ collection.data.description | safe }}</p>
  <div class="row is-centered">
    <div class="three columns collectionStats">
      <div>
        <p><strong>Supply</strong>:<br /> {{ collection.data.total_supply }}</p>
      </div>
    </div>
    <div class="three columns collectionStats">
      <div>
        <p><strong>Contract</strong>:<br /> <a href="{{ collection.contract_address | show_etherscan }}" target=_blank>{{ collection.contract_address | shorten_address }}</a></p>
      </div>
    </div>
    <div class="three columns collectionStats">
      <div>
        <p><strong>Type</strong>:<br /> {{ collection.data.contract_type }}</p>
      </div>
    </div>
    <div class="three columns collectionStats">
      <div>
        <p><strong>Date</strong>:<br /> {{ collection.es_data.timeStamp | as_formatted }}</p>
      </div>
    </div>
  </div>
  
  {% if not owner %}
    <div class="row">
      <div class="one-half column">
        <form method="GET" enctype="multipart/form-data" action="{{ url_for('collection.show', collection_slug=collection.url_slug) }}">
          <label for="tokenId">Lookup Token</label>
          <input class="input" type="text" placeholder="Enter token ID" name="tokenId">
        </form>
      </div>
      <div class="one-half column">
        <form method="GET" enctype="multipart/form-data" action="{{ url_for('collection.show', collection_slug=collection.url_slug) }}">
          <label for="tokenId">Lookup Address</label>
          <input class="input" type="text" placeholder="Enter wallet or ENS" name="wallet">
        </form>
      </div>
    </div>
    <h2>Explore Traits</h2>
    {% set traits = collection.retrieve_collection_traits() %}
    <div>
      <form>
        <select name="traitKey" id="traitKey">
          {% for trait in traits %}
            <option value="{{ trait | fix_trait }}" up-data='{ "trait": "{{ trait | fix_trait }}" }'>{{ trait }}</option>
          {% endfor %}
        </select>
        {% for trait in traits %}
          <select name="traitValue-{{ trait | fix_trait }}" id="traitValue-{{ trait | fix_trait }}" class="hidden traitValue">
              {% for _trait in traits[trait] %}
                <option value="{{ _trait }}">{{ _trait }}</option>
              {% endfor %}
          </select>
        {% endfor %}
        <input type="submit" value="Filter">
      </form>
    </div>
  {% endif %}

{% if owner %}
    <h3 style="margin-bottom: .25em;">{% if owner.ens %}{{ owner.ens }}{% else %}{{ owner.address | shorten_address }}{% endif %} wallet</h3>
    <a href="{{ url_for('collection.show', collection_slug=collection.url_slug) }}">
      <button class="button" up-transition="cross-fade" up-preload>Clear</button>
    </a>
    <div id="ownerTokens" up-data='{ "contractAddress": "{{ collection.contract_address }}", "walletAddress": "{{ owner.address }}", "urlSlug": "{{ collection.url_slug }}" }'></div>
{% else %}
  {% if request.args.show == 'notable' %}
    {% set title = 'Notable Tokens' %}
    {% set buttontext = 'Show Rarity' %}
    {% set tokens = collection.data.notable_tokens %}
    {% set newurl = 'rarity' %}
  {% else %}
    {% set title = 'Top Ranking' %}
    {% set buttontext = 'Show Notable' %}
    {% if collection.url_slug == 'soupxmondrian' %}
      {% set max_token = 4 %}
    {% else %}
      {% set max_token = 17 %}
    {% endif %}
    {% set tokens = range(1,max_token) %}
    {% set newurl = 'notable' %}
  {% endif %}
  <h2 style="margin-bottom: .25em;">{{ title }}</h2>
  <a class="button" href="?show={{ newurl }}#tokenPreviews">{{ buttontext }}</a>
  <div class="tokenPreviews" id="tokenPreviews">
    {% for _token in tokens | batch(4) %}
    <div class="row">
      {% for token in _token %}
      <div class="three columns previewTokens">
        <a href="{{ url_for('collection.show_token', collection_slug=collection.url_slug, token_id=collection.retrieve_token_id_by_rank(token)) }}" up-transition="cross-fade" up-preload>
          <img width=40 class="tokenPreview previewPreload" id="tokenPreview-{{ collection.retrieve_token_id_by_rank(token) }}" up-data='{ "contractAddress": "{{ collection.contract_address }}", "tokenId": "{{ collection.retrieve_token_id_by_rank(token) }}" }'>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endif %}
  <div class="is-centered">
    <div class="row marketplaceLogos">
      <div class="two columns">
          <a href="https://looksrare.org/collections/{{ collection.contract_address }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/looksrare.png">
          </a>
      </div>
      <div class="two columns">
          <a href="https://app.uniswap.org/#/nfts/collection/{{ collection.url_slug }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/uniswap.png">
          </a>
      </div>
      <div class="two columns">
          <a href="https://opensea.io/collection/{{ collection.url_slug }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/opensea.png">
          </a>
      </div>
      <div class="two columns">
          <a href="https://rarible.com/{{ collection.url_slug }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/rarible.jpg">
          </a>
      </div>
      <div class="two columns">
          <a href="https://x2y2.io/collection/{{ collection.url_slug }}/items" target="_blank">
            <img class="marketplaceLogo" src="/static/img/x2y2.png">
          </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
