{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if collections %}
    <h4>Collections</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Collection</th>
          <th>Contract Address</th>
          <th>Contract Type</th>
          <th>Launch Date</th>
          <th>Token Supply</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody>
        {% for collection in collections %}
        <tr>
          <td><a href="{{ url_for('collection.show', collection_slug=collection.url_slug) }}" up-transition="cross-fade" up-follow>{{ collection.title }}</a></td>
          <td><a href="{{ collection.data.contract_address | show_etherscan }}" target="_blank">{{ collection.data.contract_address | shorten_address }}</a></td>
          <td>{{ collection.data.contract_type }}</td>
          <td>{{ collection.es_data.timeStamp | as_formatted }}</td>
          <td>{{ collection.data.total_supply }}</td>
          {% if collection.stats %}
          <td>{{ collection.stats.total_volume | round(2) }} Ξ</td>
          {% else %}
          <td>?</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock %}