<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <section class="section">
    <div class="container has-text-centered">
      {% if collections %}
      <table class="table screen-lg">
        <thead>
          <tr>
            <th>Collection</th>
            <th>Contract Address</th>
            <th>Contract Type</th>
            <th>Launch Date</th>
            <th>Launch Block</th>
            <th>Token Supply</th>
          </tr>
        </thead>
        <tbody>
          {% for collection in collections %}
          <tr>
            <td><a href="{{ url_for('collection.show', collection_slug=collection.url_slug) }}" up-target=".container" up-transition="cross-fade">{{ collection.title }}</a></td>
            <td><a href="{{ collection.data.contract_address | show_etherscan }}" target="_blank">{{ collection.data.contract_address | shorten_address }}</a></td>
            <td>{{ collection.data.contract_type }}</td>
            <td>{{ collection.es_data.timeStamp | from_ts | humanize }}</td>
            <td>{{ collection.es_data.blockNumber }}</td>
            <td>{{ collection.data.total_supply }}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      {% else %}
        <div class="notification is-secondary has-text-centered">
          <p>You're not part of any collections yet</p>
        </div>
      {% endif %}
    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
