<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <section class="section">
    <div class="container">
      <div class="screen">
      <form method="POST" enctype="multipart/form-data" class="site-form" action="{{ url_for('collection.new') }}" style="padding-top:1.5em;">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Title of your collection" name="title">
          </div>
        </div>
        <div class="field">
          <label class="label">Base Metadata URI</label>
          <div class="control">
            <input class="input" type="text" placeholder="https://gateway.pinata.cloud/ipfs/xxxxxxxxxxxxxxx/" name="metadata_uri">
          </div>
        </div>
        <div class="field">
          <label class="label">Start Token ID</label>
          <div class="control">
            <input class="input" type="number" min=0 placeholder="1" name="start_token_id">
          </div>
        </div>
        <div class="field">
          <label class="label">End Token ID</label>
          <div class="control">
            <input class="input" type="number" min=0 placeholder="10000" name="end_token_id">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" up-follow=".container">Submit</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
