<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <div class="container">
    <section class="section">
      <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
          <li><a href="{{ url_for('collection.index') }}" up-follow up-target=".container" up-preload up-transition="cross-fade">Home</a></li>
          <li><a href="{{ url_for('collection.show', collection_slug=collection.url_slug) }}" up-follow up-target=".container" up-preload up-transition="cross-fade">{{ collection.title }}</a></li>
          <li class="is-active"><a aria-current="page">Offers</a></li>
        </ul>
      </nav>
      <div class="saleDetails">
        <h1 class="title">{{ collection.title }}</h1>
        <h2 class="subtitle">For Sale</h2>
      </div>
      <div class="activeBidsOffers" up-data='{ "type": "offers", "contractAddress": "{{ collection.contract_address }}", "urlSlug": "{{ collection.url_slug }}" }'></div>
    </section>
  </div>
  {% include 'includes/footer.html' %}
  </body>
</html>
