{% extends 'base.html' %}

{% set rarity = collection.retrieve_token_by_id(token_id) %}

{% block content %}
<div class="container">
  <h1>
    <a href="{{ url_for('collection.show', collection_slug=collection.url_slug) }}" up-follow up-preload up-transition="cross-fade">
      {{ collection.title }}
    </a>
  </h1>
  <div class="">
    <div class="row" style="margin-top: 2em;">
      <div class="seven columns" id="tokenImageHolder">
        <img id="tokenImage" class="previewPreload {% if collection.url_slug == 'nftzine' %}zineLink{% elif collection.url_slug == 'rmutt' %}glbLink{% else %}tokenZoom{% endif %}" />
      </div>
      <div class="five columns" id="tokenDetails">
        <h4 id="tokenTitle" up-data='{ "contractAddress": "{{ collection.contract_address }}", "tokenId": "{{ token_id }}", "erc1155": "{{ collection.erc1155 | tojson }}", "testnetAddress": "{{ collection.testnet_address }}"  }'>
          <img class="previewPreload" width=50>
        </h4>
        <p id="tokenOwner" style="margin-top: 1em;"></p>
        <div class="block"></div>
        <ul id="tokenTraits">
          {% if 'rank' in rarity %}
            <li>
              <strong>Rarity:</strong> #{{ rarity['rank'] }}/{{ collection.data.total_supply }}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row is-centered" style="margin-top: 4em;">
    {% if rarity['rank'] > 1 %}
    <div class="three columns navButtons">
        <a class="button button-secondary" href="{{ url_for('collection.show_token', collection_slug=collection.url_slug, token_id=collection.retrieve_token_id_by_rank(rarity['rank'] - 1)) }}" up-follow up-preload up-transition="move-right">
          <- Rank #{{ rarity['rank'] - 1 }}
        </a>
    </div>
    {% endif %}
    {% if token_id > collection.data.start_token_id %}
    <div class="three columns navButtons">
        <a class="button" href="{{ url_for('collection.show_token', collection_slug=collection.url_slug, token_id=token_id - 1) }}" up-follow up-preload up-transition="move-right">
          <- ID #{{ token_id - 1 }}
        </a>
    </div>
    {% endif %}
    {% if rarity['rank'] < collection.token_end %}
    <div class="three columns navButtons">
      <a class="button is-dark" href="{{ url_for('collection.show_token', collection_slug=collection.url_slug, token_id=token_id + 1) }}" up-follow up-preload up-transition="move-left">
        ID #{{ token_id + 1 }} ->
      </a>
    </div>
    {% endif %}
    {% if rarity['rank'] < collection.token_end %}
    <div class="three columns navButtons">
        <a class="button button-secondary" href="{{ url_for('collection.show_token', collection_slug=collection.url_slug, token_id=collection.retrieve_token_id_by_rank(rarity['rank'] + 1)) }}" up-follow up-preload up-transition="move-right">
          Rank #{{ rarity['rank'] + 1 }} ->
        </a>
    </div>
    {% endif %}
  </div>
    <div class="row" style="overflow-x: auto;">
      <table class="u-full-width" id="tokenHistoryTable" class="hidden" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Seller</th>
            <th>Buyer</th>
            <th>Platform</th>
            <th>Amount</th>
            <th>Block</th>
          </tr>
        </thead>
        <tbody id="tokenHistory" ></tbody>
      </table>
    </div>
    <div class="tokenURLs">
      <p id="tokenOnchainURI"></p>
      <p id="tokenOnchainImage"></p>
      <p id="tokenOffchainURI"></p>
      <p id="tokenOffchainImage"></p>
    </div>
    <div class="row marketplaceLogos">
      <div class="two columns">
          <a href="https://looksrare.org/collections/{{ collection.contract_address }}/{{ token_id }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/looksrare.png">
          </a>
      </div>
      <div class="two columns">
          <a href="https://app.uniswap.org/#/nfts/asset/{{ collection.contract_address | lower }}/{{ token_id }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/uniswap.png">
          </a>
      </div>
      <div class="two columns">
          <a href="https://opensea.io/assets/{{ collection.contract_address }}/{{ token_id }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/opensea.png">
          </a>
      </div>
      <div class="two columns">
          <a href="https://rarible.com/token/{{ collection.contract_address }}:{{ token_id }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/rarible.jpg">
          </a>
      </div>
      <div class="two columns">
          <a href="https://x2y2.io/eth/{{ collection.contract_address }}/{{ token_id }}" target="_blank">
            <img class="marketplaceLogo" src="/static/img/x2y2.png">
          </a>
      </div>
    </div>
  </div>
</div>
{% if collection.url_slug == 'rmutt' %}
  <script type="module" src="/static/js/vendor/model-viewer.min.js"></script>
{% endif %}
{% endblock %}

