@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


.navbar {
  display: block;
  width: 100%;
  height: 100%;
  height: 5rem;
  margin-bottom: 2em;
  z-index: 99;
}

#navbar {
  margin: 0 auto;
}

.button {
  color: white;
}

input {
  color: #231f20;
}

a {
  color: #F56EB3;
}

li {
  margin: 0;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0; 
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; 
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #fff;
  transition: all .2s ease;
}

.navbar-link:hover {
  color: #CB1C8D;
  transition: all .2s ease;
}

.navbar-link.active {
  color: #33C3F0; 
}

.is-centered {
  margin: 0 auto;
  text-align: center;
}

* {
  background-color: #231f20;
  color: #f9f9f9;
}

p {
  size: 1.25em;
  margin-top: 1em;
  font-weight: 400;
  font-family: 'Roboto Mono', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 4em;
  text-transform: uppercase;
  margin: 8px 0px 8px 0px;
  font-family: 'Roboto', sans-serif;
}


h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.125em;
  font-family: 'Roboto', sans-serif;

}

h3 {
  font-family: 'Roboto Mono', sans-serif;
  text-transform: uppercase;
  font-weight: 00;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Roboto Mono', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  font-family: 'Roboto Mono', sans-serif;

}

h5 {
  font-family: 'Roboto Mono', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .975em;
}

.collectionDescription {
  width: 60%;
  margin: 0 auto;
}

.screen {
  padding-bottom: 1em;
  max-width: 500px;
  margin: 0 auto;
}

.screen-lg {
  padding-bottom: 1em;
  width: 80%;
  margin: 0 auto;
}

.card {
  margin: 1em;
  padding: 1em;
  width: 300px;
  border-radius: 6px;
}

.image {
  text-align: center;
}

.image img, .image video {
  border-radius: 6px;
}

.img-fluid {
  max-height: 200px;
  object-fit: cover;
}

.wrap {
  word-wrap: break-word;
}

.tokenStatus {
  display: inline-flex;
}

.tokenStatus img {
  margin-right: .3em;
}

#tokenDetails {
  overflow-y: auto; 
  height: 100%;
  word-wrap: break-word;
}

#updateButtons, .hidden {
  display: none;
}

.previewPreload {
  /* width: 30% !important; */
  width: 65px !important;
  aspect-ratio: 1;
  border: 10px solid #0000;
  background: 
    radial-gradient(farthest-side,#f9f9f9 98%,#231f20 ) 0    0/20px 20px,
    radial-gradient(farthest-side,#f9f9f9 98%,#231f20 ) 100% 0/20px 20px,
    radial-gradient(farthest-side,#f9f9f9 98%,#231f20 ) 100% 100%/20px 20px,
    radial-gradient(farthest-side,#f9f9f9 98%,#231f20 ) 0 100%/20px 20px,
    linear-gradient(#f9f9f9 0 0) center/40px 40px,
    #231f20;
  background-repeat:no-repeat;
  filter: blur(4px) contrast(10);
  animation: blob 0.8s infinite;
}

.tokenPreview {
  border-radius: 4px;
  margin-bottom: 8px;
  max-width: 12em;
}

#tokenImage {
  width: 100%;
}

.marketplaceLogo {
  max-width: 8em;
  border-radius: 50%;
}

.marketplaceLogos {
  margin: 2em 0;
}

.button {
  transition: .25s ease all;
}

.input {
  width: 100%;
}

.button:hover {
  transition: .25s ease all;
  background-color: white;
}

@keyframes blob {
  100% {background-position: 100% 0, 100% 100%, 0 100%, 0 0, center}
}

@media (max-width: 950px) {
  .tokenPreview {
    max-width: 6em;
  }
  .marketplaceLogo {
    max-width: 5em;
  }
}

@media (max-width: 600px) {
  .marketplaceLogo {
    max-width: 3em;
  }
}

.approvedCard {
  background-color: #48c78e;
}

.rejectedCard {
  background-color: #f14668;
}

.message {
  max-width: 750px;
  margin: auto;
}

.profileSocial * {
  line-height: 2em;
  vertical-align: middle;
  margin: 4px;
}


model-viewer {
  width: 100%;
  height: 60vh;
  max-height: 60vh;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  display:none;
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

/* #fullscreen_btn {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .5rem;
  background: #fff;
} */
