/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	background-color: #f4eeea;
    scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Button styles
   ========================================================================== */

.Art101_Button {
    background-color:#231f20;
    display:inline-block;
    cursor:pointer;
    color:#e5b223;
    font-size:1.125em;
    padding:8px 16px;
    font-weight: 600;
    text-decoration:none;

}

.Art101_Button:hover {
    background-color:#231f20;
    display:inline-block;
    cursor:pointer;
    color:#f15e4c;
    font-size:1.125em;
    padding:8px 16px;
    font-weight: 600;
    text-decoration:none;

}


/* ==========================================================================
   General Styles
   ========================================================================== */



nav {
    padding: 32px 16px 32px 16px;
}


.splash {
margin: 40px 16px 40px 16px;
}

.inner {
margin: 32px 32px 32px 32px;
}

.navimg {
    max-width: 216px;
}

main {
    min-height: 80vh;
}

.logo {
    max-height: 35vh;
}


body{
    background-color: #f4eeea;
}



/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    background-color: #231f20;
    min-height: 72px;
    padding: 24px;
}



/* ==========================================================================
   Typography
   ========================================================================== */

a {
    color: #231f20;
    text-decoration: underline;
}

a:hover {
    color: #231f20;
    text-decoration: underline;
}


.break {
    word-break: break-all;
}

p {
    color: #231f20;
    margin-top: 1.125em;
    font-weight: 400;
    font-family: 'Roboto Mono', sans-serif;
    
}

h1 {
    color: #231f20;
    font-weight: 900;
    font-size: 2.725em;
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    margin: 8px 0px 8px 0px;
}


h2 {
    color: #231f20;
    font-weight: 600;
    font-size: 2.125em;
    font-family: 'Roboto Mono', sans-serif;

}

h3 {
    color: #231f20;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    font-size: 1.7125em;
}

h4 {
    color: #231f20;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 1.5em;


}

h5 {
    color: #231f20;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
        font-size: 1.25em;


}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1152px) {
    /* Style adjustments for viewports that meet the condition */
    .inner {
margin: 8px 8px 8px 8px;
}

footer {
    background-color: #231f20;
    min-height: 64px;
    padding: 16px 8px 16px 8px;
}


nav {
    padding: 16px 8px 16px 8px;
}


main {
    min-height: 50vh;
}

.splash {
margin: 32px 8px 16px 8px;
}

.logo {
    max-height: 30vh;
}


.Art101_Button {
    background-color:#231f20;
    display:inline-block;
    cursor:pointer;
    color:#e5b223;
    font-size:.825em;
    padding:8px 16px;
    font-weight: 600;
    text-decoration:none;

}


h1 {
    color: #231f20;
    font-weight: 900;
    font-size: 2.125em;
    text-transform: uppercase;
    font-family: 'Roboto Mono', sans-serif;
    margin: 8px 0px 8px 0px;
}


.Art101_Button:hover {
    background-color:#231f20;
    display:inline-block;
    cursor:pointer;
    color:#f15e4c;
    font-size:.825em;
    padding:8px 16px;
    font-weight: 600;
    text-decoration:none;

}

.inner {
margin: 32px 4px 32px 4px;
}


}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}